{% extends "layout.html" %}

{% block title %}Pantry Inventory{% endblock %}

{% block content %}
    <h1>Restocking</h1>

    <div class="container">
        <h2>Items to Restock</h2>
        <p>You are out of these items in your pantry.</p>
        <ul>
            {% for entry in pantry_items %}
                {% if entry.quantity == 0 %}
                    <li>
                        <b>{{ entry.item }}</b>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <p>You are running low on these items in your pantry.</p>
        <ul>
            {% for entry in pantry_items %}
                {% if entry.quantity == 1 %}
                    <li>
                        <b>{{ entry.item }}</b>
                        <br>expires {{ entry.expiration }}
                        <br>{{entry.quantity}} {{entry.unit}} left
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <script>
        function updateForm() {
            var action = document.getElementById("action").value;
            var formFields = document.getElementById("form-group");
            formFields.innerHTML = '';

            if (action == "Both") {
                var input1 = document.createElement("input");
                var input2 = document.createElement("input");
                input1.type = "text";
                input2.type = "date";
                input1.name = "unit";
                input2.name = "expiration_date";
                input1.placeholder = "Enter new unit";
                input2.placeholder = "Enter new expiration date";
                formFields.appendChild(input1);
                formFields.appendChild(input2);
            }
        }
    </script>

    <form action="{{ url_for('cart', user_id = user_id) }}" method="POST">

        <label for="item_id">Select an item:</label>
        <select id="item_id" name="item_id" required>
        {% for entry in pantry_items %}
            {% if entry.quantity == 0 or entry.quantity == 1 %}
                <option value="{{ entry.id }}">{{ entry.item }}</option>
            {% endif %}
        {% endfor %}
        </select>

        <label for="action">Action:</label>
        <select name="action" id="action" onchange="updateForm()">
            <option value="Add">Add more of item to pantry</option>
            <option value="Remove">Remove item from pantry</option>
            <option value="Both">Edit units and/or expiration date of item</option>
        </select>
        <div id="form-group"></div>
        <br>
        <form action="{{ url_for('cart' , user_id = user_id) }}" method="POST">
            <button type="submit">Edit Cart</button>
        </form>
    </form>

{% endblock %}