{% extends "layout.html" %}

{% block title %}Pantry Inventory{% endblock %}

{% block content %}
    <h1>Edit Inventory</h1>

    <form action="{{ url_for('edit', item_id=item_id, user_id = user_id) }}" method="POST">

        <label for="added">Enter the amount of {{item_object.item}} to add:</label>
        <input type="number" id="added" name="added" required/>

        <label for="removed">Enter the amount of {{item_object.item}} to remove:</label>
        <input type="number" id="removed" name="removed" required/>

        <label for="price">Enter the cost of {{item_object.item}}</label>
        <input type="number" id="price" name="price" step="0.01" required/>

        <button type="submit">Edit Item</button>
    </form>

    <div class="container">
        <h2>Item to be Edited</h2>
        <ul>
            <li><b>{{ item_object.item }}</b></li>
                - Quantity: {{ item_object.quantity }}
                <br>- Cost: {{ "$%.2f"|format(item_object.price) }}
        </ul>
    </div>

    <form action="{{ url_for('inventory' , user_id = user_id) }}" method="GET">
        <button type="submit" class="btn btn-primary">Back</button>
    </form>
    {% endblock %}
 