{% extends "layout.html" %}

{% block title %}"Change Password"{% endblock %}

{% block content %}

    <div class="container">
        <form action="{{ url_for('update_email', user_id = user_id) }}" method="POST">
            <label for="password">Enter current Password:</label>
            <input type="password" id="password" name="password" required/>

            <label for="email">Enter a new email:</label>
            <input type="text" id="email" name="email" required/>

            <button type="submit">Enter</button>
        </form>
    </div>

{% endblock %}