<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Pantry Inventory</title>
    </head>
    <body>
        <div class="container">
            <h1>Pantry Inventory</h1>
            <form action="/inventory" method="GET">
                <button type="submit" class="btn btn-primary">View List</button>
            </form>

            <h1>Recipe Search</h1>
            <form action="/recipes" method="GET">
                <button type="submit" class="btn btn-primary">Search</button>
            </form>

        </div>
    </body>
</html>
