{% extends "layout.html" %}

{% block title %}Pantry Inventory{% endblock %}

{% block content %}
    <h1>My Pantry Inventory</h1>

    <form action="{{ url_for('inventory' , user_id = user_id) }}" method="POST">
        <p>To add or edit an item enter the name below</p>
        <label for="item">Enter an item:</label>
        <input type="text" id="item" name="item" required/>
        <button type="submit">Check Item</button>
    </form>

    <div class="container">
        <h2>Inventory List</h2>
        <ul>
            {% for entry in pantry_items %}
                <li>{{ entry.item }} - Quantity: {{ entry.quantity }}</li>
            {% endfor %}
        </ul>
    </div>

    <form action="/" method="GET">
        <button type="submit" class="btn btn-primary">Home</button>
    </form>

    <form action="{{ url_for('shopping' , user_id = user_id) }}" method="GET">
        <button type="submit">Budget</button>
    </form>
{% endblock %}