{% extends "layout.html" %}

{% block title %}"Change Password"{% endblock %}

{% block content %}

    <div class="container">
        <form action="{{ url_for("update_password", user_id = user_id) }}" method="POST">
            <label for="password">Enter current Password:</label>
            <input type="text" id="password" name="password" required/>

            <label for="new_password">Enter a new password:</label>
            <input type="text" id="new_password" name="new_password" required/>

            <button type="submit">Enter</button>
        </form>
    </div>

{% endblock %}