{% extends "layout.html" %}

{% block title %}Pantry Inventory{% endblock %}

{% block content %}
    <h1>Budget</h1>

    <div class="container">
        <h2>Current Budget</h2>
        <h2>{{ "$%.2f"|format(budget.amount) }}</h2>
    </div>

    <div class="container">
        <h2>Current Inventory Costs</h2>
        <p>Amount spent from most recent expenditures</p>
        <ul>
            {% for entry in pantry_items %}
                <li>{{ entry.item }} - Price: ${{ "%.2f"|format(entry.price) }}</li>
            {% endfor %}
        </ul>
    </div>

    <form action="{{ url_for('shopping' , user_id = user_id) }}" method="POST">
        <button type="submit">Edit Budget</button>
    </form>

    <form action="{{ url_for('cart' , user_id = user_id) }}" method="GET">
        <button type="submit">Cart</button>
    </form>

    <form action="/" method="GET">
        <button type="submit" class="btn btn-primary">Home</button>
    </form>
{% endblock %}
