<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Pantry Inventory</title>
    </head>
    <body>
        <div class="container">
            <h1>Pantry Inventory</h1>
            <form action="/inventory" method="GET">
                <button type="submit" class="btn btn-primary">Create List</button>
            </form>
            <form action="/edit" method="GET">
                <button type="submit" class="btn btn-primary">Edit List</button>
            </form>
        </div>
    </body>
</html>
